.header-wrapper {
    z-index: 9999;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header.header-main {
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}
/**--------[ Added by Humtech ] --------------*/
header.header-main .sub-pages-nav ul li.contact-us {
    margin-left: 40px !important;
    padding-left: 0px !important;    
    background: #00b3ed;
    border-radius: 5px;
}

header.header-main .sub-pages-nav ul li.contact-us:hover { 
    background: #0087b2;
}

header.header-main .sub-pages-nav ul li.contact-us a {
    margin: 0 10px;
    color: white;
}
/*---[ This is for Header with background image ]--*/
.header-wrapper.hero .header-main .sub-pages-nav ul li.contact-us {
    border: 2px solid white;
    background: transparent;
    border-radius: 5px;
}
.header-wrapper.hero .header-main .sub-pages-nav ul li.contact-us a {
    color: white;
}

.header-wrapper.hero header.header-main .sub-pages-nav ul li.contact-us:hover {  
    background: #00b3edb5;
    text-shadow: none;
}




/*

.header-wrapper.hero header.header-main .sub-pages-nav ul li.menu-item-1475:hover {  
    background: #00b3edb5;
    text-shadow: none;
}

header.header-main .sub-pages-nav ul li.menu-item-1475 {
    margin-left: 40px !important;
    padding-left: 0px !important;
    background: #00b3ed;
    border-radius: 5px;
}
header.header-main .sub-pages-nav ul li.menu-item-1475:hover {  
    background: #0087b2;
}

header.header-main .sub-pages-nav ul li.menu-item-1475 a {
    margin: 0 10px;
    color: white;
}

header.header-main .sub-pages-nav ul li.menu-item-1475 a {
    margin: 0 10px;
}


.header-wrapper.hero .header-main .sub-pages-nav ul li.menu-item-1475 {
    border: 2px solid white;
    background: transparent;
    border-radius: 5px;
}
.header-wrapper.hero .header-main .sub-pages-nav ul li.menu-item-1475 a {
    color: white;
}


    .header-wrapper.hero .header-main .sub-pages-nav:hover ul li.menu-item-1475 {
        opacity: 0.2;
    }
    .header-wrapper.hero .header-main .sub-pages-nav:hover ul:hover li.menu-item-1475 {
        opacity: 0.5;
    }
    .header-wrapper.hero .header-main .sub-pages-nav:hover ul:hover li.menu-item-1475:hover {
        opacity: 1;
    }
*/

/*------- [ Hover Fade menu effect ]-------------*/

    .header-wrapper.hero .header-main .sub-pages-nav > ul { 
        /*list-style: none;
        float: left; width: 200px; 
        padding: 0 10px 0 0; */
    }
    .header-wrapper.hero .header-main .sub-pages-nav a { 
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }
    .header-wrapper.hero .header-main .sub-pages-nav:hover a {
        opacity: 0.2;
    }
    .header-wrapper.hero .header-main .sub-pages-nav:hover ul:hover a {
        opacity: 0.5; 
    }
    .header-wrapper.hero .header-main .sub-pages-nav:hover ul:hover a:hover {
        opacity: 1;
    }


    .header-wrapper.hero .header-main .sub-pages-nav:hover ul li.contact-us {
        opacity: 0.2;
    }
    .header-wrapper.hero .header-main .sub-pages-nav:hover ul:hover li.contact-us {
        opacity: 0.5;
    }
    .header-wrapper.hero .header-main .sub-pages-nav:hover ul:hover li.contact-us:hover {
        opacity: 1;
    }

 /*------[For mobile version ]------------*/
    .header-wrapper.nav-open .header-main .sub-pages-nav > ul { 
        /*list-style: none;
        float: left; width: 200px; 
        padding: 0 10px 0 0; */
    }
    .header-wrapper.nav-open .header-main .sub-pages-nav a { 
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }
    .header-wrapper.nav-open .header-main .sub-pages-nav:hover a {
        opacity: 0.2;
    }
    .header-wrapper.nav-open .header-main .sub-pages-nav:hover ul:hover a {
        opacity: 0.5; 
    }
    .header-wrapper.nav-open .header-main .sub-pages-nav:hover ul:hover a:hover {
        opacity: 1;
    }


    .header-wrapper.nav-open .header-main .sub-pages-nav:hover ul li.contact-us {
        opacity: 0.2;
    }
    .header-wrapper.nav-open .header-main .sub-pages-nav:hover ul:hover li.contact-us {
        opacity: 0.5;
    }
    .header-wrapper.nav-open .header-main .sub-pages-nav:hover ul:hover li.contact-us:hover {
        opacity: 1;
    }
/**--------[ Added by Humtech END ] --------------*/

.nav-main nav ul li.current-page-ancestor>a,
.nav-main nav ul li.current-menu-item>a,
.nav-main nav ul li.current-menu-parent>a {
    font-weight: 600;
}

.nav-main nav ul li.current-page-ancestor:before, .nav-main nav ul li.current-menu-item:before{
    display: none;
}

.header-main .module {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
}

.header-main .brand{
    margin-top: 7px;
}


.sub-pages-nav nav ul li.current_page_item>a{
    font-weight: 600;
}

.nav-main ul li a{
    color: #3f4c57;
}

.nav-main ul li{
    margin-left: 35px;
}

.sub-pages-nav ul{
    text-align: center;
}

.sub-pages-nav ul li a {
    color: #3f4c57;
    font-size: 16px;
    margin-bottom: 15px;
    display: block;
}

.sub-pages-nav ul li {
    display: block;
    padding: 0;
    margin-bottom: 15px;
}

.sub-pages-nav {
    margin: 0 auto;
}

header.header-main .sub-pages-nav nav ul li.menu-item-has-children:after{
    position: relative;
}


.super-header {
    background-color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /*border-bottom: 1px solid #f2f2f2;*/
}

.super-header .module {
    line-height: 1;
    padding: 15px 0;
    height: 50px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.super-header .module ul li {
    display: block;
    margin-bottom: 15px;
    margin-left: 0;
    padding: 0;
}

.super-header .module ul li a {
    display: block;
    line-height: 1;
    margin-bottom: 15px;
}

.super-header .module ul{
    text-align: center;
}

.super-header .brand {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    top: 8px;
}

@media only screen and (min-width: 940px) {
    .nav-main nav ul li.current-page-ancestor:before,
    .nav-main nav ul li.current-menu-item:before{
        content: "";
        width: 10px;
        height: 10px;
        background-color: #ffc72f;
        border-radius: 150%;
        display: inline-block;
        position: absolute;
        left: 7px;
        top: 7px;
    }

    header.header-main.sub-pages-nav ul{
        text-align: left;
    }

    header.header-main .sub-pages-nav {
        margin-right: 0;
        margin-left: auto;
    }

    header.header-main .sub-pages-nav ul li {
        display: inline-block;
        margin-bottom: 0;
        padding-left: 25px;
    }

    header.header-main .sub-pages-nav ul li a{
        margin-bottom: 0;
        display: inline-block;
    }

    header.header-main .sub-pages-nav nav ul li.menu-item-has-children:after {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #ffc72f;
        content: "";
        position: absolute;
        right: -15px;
        top: 10px;
    }

    header.header-main .sub-pages-nav nav ul li ul {
        display: block;
        position: absolute;
        top: 14px;
        left: 15px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        background: #fff;
        -webkit-box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.1);
        padding: 15px 0;
    }

    header.header-main .sub-pages-nav nav ul li:last-child ul{
        left: -160%;
    }

    header.header-main .sub-pages-nav nav ul li ul.sub-menu li ul.sub-menu li a{
        color: #979797;
    }

    header.header-main .sub-pages-nav nav ul li ul li {
        white-space: nowrap;
        margin-right: auto;
        margin-bottom: 10px;
        display: block;
        padding: 0 20px;
    }
    header.header-main .sub-pages-nav nav ul li ul li:last-child {
        margin-bottom: 0;
    }
    header.header-main .sub-pages-nav nav ul li:hover ul {
        -webkit-transform: translateY(10px);
            -ms-transform: translateY(10px);
                transform: translateY(10px);
        opacity: 1;
        visibility: visible;
        /*left: 15px;*/
    }
    header.header-main .sub-pages-nav nav ul li .sub-menu li.menu-item-has-children ul{
/*        left: 90%;
        top: -10px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;*/
        position: relative;
        left: 0;
        top: 0;
        display: block;
        box-shadow: none;
        padding-top: 0;
    }
    header.header-main .sub-pages-nav nav ul li .sub-menu li.menu-item-has-children:hover ul{
/*        left: 100%;
        top: -10px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        z-index: 1;*/
    }

    header.header-main .sub-pages-nav nav ul li .sub-menu li.menu-item-has-children:after {
        display: none;
        width: 0;
        height: 0;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #000;
        content: "";
        position: absolute;
        right: 6px;
        top: 7px;
        z-index: 0;
    }

    .super-header .module ul li {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 15px;
        padding-left: 20px;
    }

    .super-header .module ul li a {
        display: inline-block;
        line-height: 1;
        margin-bottom: 0;
    }

    .super-header .module ul li:last-child > a {
        color: #00b3ed;
        font-weight: 500;
    }

    .super-header .module ul{
        text-align: center;
    }

    .super-header .super-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

}

.header-mobile {
    display: none;
}

@media only screen and (max-width: 940px) {
    .header-mobile {
        display: block;
        background-color: #fff;
        border-bottom: 1px solid #d4d7dc;
    }
    .header-mobile .container {
        padding: 20px;
    }
    .header-mobile .module {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -ms-flex-pack: space-between;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
                align-items: center;
    }
    .header-mobile .navburger {
        width: 35px;
        height: 26px;
        cursor: pointer;
        padding: 6px;
    }
    .header-mobile .navburger:focus {
        outline: 0;
        outline: none;
    }
    .header-mobile .navburger .buns {
        height: 100%;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -ms-flex-pack: space-between;
    }
    .header-mobile .navburger .buns .patty {
        height: 2px;
        background-color: #8C959F;
    }
    
    .header-wrapper {
        width: 100vw;
        height: 100vh;
        background: #fff;
        position: fixed;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
/*        -ms-flex-pack: center;
        -webkit-box-pack: center;
                justify-content: center;*/
        -webkit-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        top: 0;
        visibility: hidden;
        opacity: 0;
    }
    .header-wrapper *:focus {
        outline: 0;
        outline: none;
    }
    .header-wrapper.nav-open {
        top: 0;
        opacity: 1;
        visibility: visible;
        padding-top: 70px;
    }
    .header-wrapper.nav-open nav a {
        color: #3f4c57;
        font-weight: 400;
    }
    .header-wrapper .menu-close {
        position: absolute;
        top: 37px;
        right: 24px;
        cursor: pointer;
        width: 25px;
        height: 25px;
        z-index: 999;
    }
    .header-wrapper .menu-close:before {
        content: "";
        width: 2px;
        background: #3f4c57;
        height: 25px;
        display: inline-block;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        line-height: 25px;
        left: 10px;
        position: relative;
    }
    .header-wrapper .menu-close:after {
        content: "";
        width: 2px;
        background: #3f4c57;
        height: 25px;
        display: inline-block;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        line-height: 1;
        margin-left: -1px;
        left: 10px;
        position: relative;
    }
    .header-wrapper .super-header {
        border: none;
        background-color: transparent;
    }

    .header-wrapper .super-header .brand{
        display: none;
    }
    .header-wrapper .super-header .module {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column-reverse;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
                flex-direction: column-reverse;
    }

    .header-wrapper .header-main {
        border: none;
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
                order: -1;
    }
    .header-wrapper .header-main .container {
        padding-top: 0;
        padding-bottom: 0;
    }
    .header-wrapper .header-main .module {
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
    .header-wrapper .header-main .module .brand {
        margin-bottom: 40px;
        margin-top: 5px;
        display: none;
    }
    .header-wrapper.hero .title-row {
        margin: 120px 0;
        display: none;
    }
}