.tabs-block .tabs-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 15px;
    margin: 0 10px;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    /*color: #8c959f;*/
    color: #000000;
    width: 100%;
    max-width: 300px;

}

.tabs-block .tabs-nav li.current {
    border: 1px solid #ffc72f;
    font-weight: 600;

}

.tabs-block .tabs-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.tabs-block .tabs-nav li:hover {
    opacity: .7;
}

.tabs-block .tabs-nav li:first-child{
    margin-left: 0;
}

.tabs-block .tabs-nav li:last-child{
    margin-right: 0;
}


.tabs-block .tabs-nav{
    display: none;
}

@media only screen and (min-width: 939px) {
    .tabs-block .tabs-nav{
        display: block;
    }
}


.tabs-block .tabs-nav-mobile li:hover {
    opacity: .7;
}

.tabs-block .tabs-nav-mobile li:first-child{
    margin-left: 0;
}

.tabs-block .tabs-nav-mobile li:last-child{
    margin-right: 0;
}

.tabs-block .tabs-content {
    padding: 0 70px;
}

.tabs-block .tabs-content h3.headline{
    border-bottom: 1px solid #f2f2f2;
}

.tabs-block .tab-content img{
    width: 100%;
    max-width: 850px;
    height: auto !important;
}

.tabs-block .tab-content .slide-title-mobile {
    text-align: center;
    display: none;
}

@media only screen and (max-width: 939px) {
    .tabs-block .tabs-content{
        padding: 0;
    }
    .tabs-block .tab-content .slide-title-mobile {
        display: block;
    }
}

.tabs-block .tab-content li {
    margin-bottom: 15px;
    font-size: 14px;
    position: relative;
}

.tabs-block .tab-content li:before {
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid #42b3e3;
    display: inline-block;
    border-radius: 150%;
    margin-right: 20px;
}

@media only screen and (max-width: 939px) {
    .tabs-block .tab-content{
        background-color: #fff;
        border: 1px solid #d4d7dc;
        padding: 15px;
        margin: 0 20px;
    }
}